@import url('https://fonts.googleapis.com/css?family=Coming+Soon|Covered+By+Your+Grace|Homemade+Apple|The+Girl+Next+Door');

body {
  color: #424242;
}

.container {
	margin: 1em;
    @media(max-width: 667px) {
      margin: .5em;
    }  
}

.charles {
  border-radius: 50%;
  cursor: pointer;
  float: right;
  height: 7.5em;
  margin: 1em;
  position:relative;
  z-index: 1;
}

.scroll {
  background: url("/static/assets/light-veneer.png");
  line-height: 1.5;
  margin: 0 auto;
  max-width: 35em;
  padding: 2em;
  //transform: rotate(-1.5deg);
  z-index: -1;

  .number {
    color: #c62828;
    float: right;
    font-family: 'Coming Soon', cursive;
  }

  .title {
    text-align: center;
    font-family: 'Homemade Apple', cursive;
    @media(max-width: 667px) {
      text-align: left;
    }
  }

  .text {
    font-family: 'Coming Soon', cursive;
    font-size: 1.25em;
  }


}

